<%
  specialty_colors = {
    "Pansements complexes" => "badge-teal",
    "Vaccination"          => "badge-blue",
    "Soins Palliatifs"     => "badge-pink",
    "Pédiatrie"            => "badge-purple",
    "Gériatrie"            => "badge-orange"
  }
%>
<div class="nurse-card mb-3 card-<%= color %>">
  <div class="nurse-avatar avatar-<%= color %>">
    <%= nurse.first_name[0] %><%= nurse.last_name[0] %>
    <span class="avatar-badge badge-<%= color %>-icon">
      <i class="fas fa-user-check"></i>
    </span>
  </div>
  <div>
    <h5><%= nurse.first_name %> <%= nurse.last_name %></h5>
    <p class="nurse-address"><i class="fas fa-map-marker-alt"></i> <%= nurse.commune.name %></p>
    <p class="nurse-rating"><i class="fas fa-star"></i> <%= nurse.average_rating %></p>
  </div>
  <div class="d-flex gap-2 flex-wrap">
    <span class="badge-rpps">RPPS vérifié</span>
    <span class="badge-dispo">Disponible aujourd'hui</span>
    <% nurse.specialties.each do |specialty| %>
      <% color_class = specialty_colors[specialty.name] || "badge-teal" %>
      <span class="<%= color_class %>"><%= specialty.name %></span>
    <% end %>
  </div>
  <%= link_to "Voir le profil", nurse_path(nurse), class: "btn btn-primary btn-sm" %>
</div>
